<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MY APP</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
          <a class="text-white ml-1" routerLink="/home" routerLinkActive="active">Home</a>

      </li>
      <li class="nav-item">
          <a class="text-white ml-1" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
  
     
     
      <li class="nav-item">
        <a class="text-white ml-1" routerLink="/register" routerLinkActive="active">Register</a>
      </li>

     
    </ul>
   
  </div>
</nav>